.csui_buttons { text-align: right }
	
	input[type=reset] {
		background-color: #eeeeee;
		border: 1px solid #cccccc;
		font-family: Oswald, Arial, Helvetica;
		text-transform: uppercase;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 10px;
		font-size: 16px;
		font-weight: bold;
		border-radius: 5px;
		color: #000000;
		cursor: pointer;
	}
	
	input[type=reset]:hover {
		background-color: #eac563;
		color: #ffffff;
	}
	
input[type=button] {
		background-color: #eeeeee;
		border: 1px solid #cccccc;
		font-family: Oswald, Arial, Helvetica;
		text-transform: uppercase;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 10px;
		font-size: 16px;
		font-weight: bold;
		border-radius: 5px;
		color: #000000;
		cursor: pointer;
	}
	
	input[type=button]:hover {
		background-color: #669966;
		color: #ffffff;
	}
	
	
	
input[type=button]:disabled:hover{
   background-color: #EC7063;
}

	
	.textcss{
		 border :  0px ;
		 padding : 8px ;
		 width : 100% ;
		 outline :  none ;
		 background-color :  transparent ;
		 box-sizing : border-box ;
		 -moz-box-sizing :  border-box ;
		 -webkit-box-sizing :  border-box ;
	}