/*form styles*/
#multistepform {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	position: relative;
}
#multistepform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 100px;
	box-sizing: border-box;
}
/*Hide all except first fieldset*/
#multistepform fieldset:not(:first-of-type) {
	display: none;
}
/*headings*/
.stepper-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.stepper-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*********************************************************************************/
/* Progress Bar                                                                     */
/*********************************************************************************/

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;/*Text Colour Step Heading*/
	text-transform: uppercase;
	font-size: 9px;
	position: relative;
	padding: 4px;
    border-top: 1px solid #ccc;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;/*Text Color inside Box*/
	background: #7393b5;/*Box color for number*/
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

#progressbar li.active{
	background: linear-gradient(to right,#d5d5d5,white); /*Standard*/
}

#progressbar li.active:before{
	background: green;/*Current Step Colour*/
}

#progressbar li{
	background: linear-gradient(to right,#7393b5,white);
	color: black;
}  