/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body, input, select, textarea
	{
		font-size: 13pt;
		line-height: 1.75em;
		letter-spacing: 0.025em;
	}

	body
	{
		min-width: 1200px;
	}

	hr
	{
		margin: 2em 0 2em 0;
	}

	/* Section/Article */

	section,
	article
	{
		margin: 0 0 4em 0;
	}

	header.style1
	{
	padding: 0em 0 3em 0;
	}

	header.style1 h2
	{
		font-size: 1.8em;
		letter-spacing: 0.075em;
		color: #36515E;
		text-transform: uppercase;
	}
			
	header.style1 p
	{
		display: block;
		margin: 0em 0 0 0;
		font-size: 1.3em;
		letter-spacing: 0.075em;
		line-height: 1.5em;
	}

	/* Form */

	form
	{
	}
		
	form label
	{
		margin: 0.25em 0 0.5em 0;
	}


	/* List */

	ul
	{
	}

	ul.actions
	{
		margin: 3em 0 0 0;
	}
			
	form ul.actions
	{
		margin-top: 0;
	}

	ul.actions li
	{
		display: inline-block;
		margin: 0 0.75em 0 0.75em;
	}
	
	ul.actions li:first-child
	{
		margin-left: 0;
	}
	
	ul.actions li:last-child
	{
		margin-right: 0;
	}
	
	ul.actions-centered
	{
		text-align: center;
	}

	/* Feature List */		

	.feature-list
	{
	}

	.feature-list section
	{
		padding-top: 2em;
		border-top: solid 1px #eee;
	}


	.feature-list .row:first-child
	{
	}
		
	.feature-list .row:first-child section
	{
		padding-top: 0;
		border-top: 0;
	}

	.feature-list h3
	{
		margin: 0 0 0.75em 0;
		font-size: 1.15em;
		letter-spacing: 0.05em;
		margin-top: -0.35em;
	}

	.feature-list h3:before
	{
		width: 64px;
		height: 64px;
		line-height: 64px;
		margin-right: 0.75em;
		font-size: 32px;
		top: 0.2em;
	}

	.feature-list p
	{
		margin: 0 0 0 5em;
	}
	
	.feature-list.small
	{
	}
	
	.feature-list.small h3
	{
	}
	
	.feature-list.small h3:before
	{
		font-size: 24px;
		line-height: 45px;
		width: 45px;
		height: 45px;
		margin-right: 1em;
	}
			
	.feature-list.small p
	{
		margin: 0 0 0 4em;
	}

	/* Box */

	.box
	{
	}
	
	.box header
	{
		margin: 0 0 1.5em 0;
	}

	.box header.style1
	{
		position: relative;
		margin: -0.5em 0 0 0;
		padding-top: 0;
	}

	.box h2
	{
		margin: 0 0 0.75em 0;
		font-size: 1.15em;
		letter-spacing: 0.05em;
	}

	.box h3
	{
		margin: 0 0 0.5em 0;
		font-size: 1em;
		font-weight: 600;
		letter-spacing: 0.05em;
	}

	.box.post-excerpt
	{
	}
		
	.box.post-excerpt .image.left
	{
		position: relative;
		top: 0.5em;
		width: 5em;
	}
	
	.box.-post-excerpt h3,
	.box.post-excerpt p
	{
		margin-left: 7em;
	}
			
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		padding: 0em 0 0em 0;
	}

	.wrapper .title
	{
		font-size: 0.9em;
		width: 45em;
		height: 3.25em;
		top: -3.25em;
		line-height: 3.25em;
		margin-bottom: -3.25em;
		margin-left: -22.5em;
		padding-top: 0.5em;
	}

	#header-wrapper
	{
		padding: 0;
		height: 300px
		
	}

	#intro-wrapper
	{
		padding-bottom: 3em;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		padding: 9em 0;
	}

	.homepage #header
	{
		/*padding: 18em 0;*/
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		height: 5em;
		top: 26%;
		left: 0;
		width: 100%;
		text-align: center;
		margin-top: -0.5em;
	}
	
	#logo a img
	{
		height : 100px;
	}
	
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		display: block;
		top: 0em;
		left: 0;
		width: 100%;
		text-align: center;
	}

	#nav > ul > li > ul
	{
		display: none;
		background-color:#36515E;
	}

	#nav > ul > li > ul >li > a
	{
		text-decoration: none;
	}
	#nav > ul
	{
		box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.25);
		padding: 0 1.5em 0 1.5em;
		background-color:#36515E;
	}

	#nav > ul > li
	{
		display: inline-block;
		text-align: center;
		padding: 0 1em 0 1em;
	}
	
	#nav > ul > li > a,
	#nav > ul > li > span
	{
		display: block;
		color: #eee;
		color: rgba(255,255,255,0.75);
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.7em;
		letter-spacing: 0.25em;
		height: 5em;
		line-height: 5em;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		outline: 0;
	}
	
	#nav > ul > li:hover > a,
	#nav > ul > li.active > a,
	#nav > ul > li.active > span
	{
		text-decoration: none;
		color: #fff;
	}

	.dropotron
	{
		background: #222835;
		background-color: rgba(44,50,63,0.925);
		padding: 1.25em 1em 1.25em 1em;
		border-radius: 0.35em;
		box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
		min-width: 12em;
		text-align: left;
		margin-top: -1.25em;
		margin-left: -1px;
	}
	
	.dropotron.level-0
	{
		margin-top: -1px;
		margin-left: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.dropotron a,
	.dropotron span
	{
		display: block;
		color: #eee;
		color: rgba(255,255,255,0.75);
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.7em;
		letter-spacing: 0.25em;
		border-top: solid 1px rgba(255,255,255,0.15);
		line-height: 3em;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}
	
	.dropotron li:first-child a,
	.dropotron li:first-child span
	{
		border-top: 0;
	}
	
	.dropotron li:hover > a,
	.dropotron li:hover > span
	{
		color: #fff;
	}

/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
		text-align: center;
	}

/*********************************************************************************/
/* Features                                                                      */
/*********************************************************************************/

	#features
	{
		padding: 0 0em 10em 0em;
	}

	#features header.style1
	{
	}

/*********************************************************************************/
/* Highlights                                                                    */
/*********************************************************************************/

	#highlights
	{
	}

	#highlights .highlight
	{
	}

	#highlights .highlight h3
	{
		margin: 0 0 0.75em 0;
		font-size: 1.15em;
		letter-spacing: 0.05em;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.homepage #main
	{
		margin-top: 0;
		margin-bottom: 0;
	}
		

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 0 0 0 0;
	}
	
	#copyright ul
	{
		padding: 0.3em 0em;
		font-size: 0.9em;
	}
		
	#copyright ul li
	{
		display: inline-block;
		margin-left: 1em;
		padding-left: 1em;
		border-left: solid 1px #333;
		border-left-color: rgba(255,255,255,0.05);
	}
			
	#copyright ul li:first-child
	{
		border-left: 0;
		margin-left: 0;
		padding-left: 0;
	}