@charset 'UTF-8';

@import
	url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500');

/* =============================================================
   GLOBAL FONT FOR BODY
 ============================================================ */
.fontstyle {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #888;
	margin-bottom: 0px;
}

/* =============================================================
 	APPLICATION LOGIN AND VERSION STYLE
 ============================================================ */
.form-box {
	padding-top: 60px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #7393b5;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
	height: 50px;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 11px;
}

.form-top-left h3 {
	margin-top: 0;
	color: #fff;
}

.form-bottom {
	padding: 25px 25px 5px 40px;
	background: #eee;
	text-align: left;
}

.form-bottom button {
	height: 33px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #7393b5;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.form-bottom button:hover {
	opacity: 0.6;
	color: #fff;
}

.form-bottom button:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-bottom button:focus {
	outline: 0;
	opacity: 0.6;
	background: #7393b5;
	color: #fff;
}

.form-bottom button:active:focus {
	outline: 0;
	opacity: 0.6;
	background: #7393b5;
	color: #fff;
}

.form-bottom div>label {
	font-weight: 500;
}

.version {
	text-align: center;
	background-color: #7393b5;
	color: #fff;
	border-radius: 0 0 4px 4px;
	padding: 5px;
}

.version a {
	color: #fff;
	display: inline-block;
	padding: 5px;
}

.version a:hover {
	text-decoration: none;
	color: #eee;
}

.version div {
	font-size: 12px;
}

/* =============================================================
 	REGISTRATION PAGE STYLE
 ============================================================ */
.registraiton {
	background-color: #eee;
}

.registraiton a:hover {
	text-decoration: none;
}

.registraiton .panel {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #eee;
	box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}

.registraiton .panel-body {
	padding: 0px;
}

.registraiton .panel-body .redfont {
	color: red;
}

.registraiton .panel-body label {
	font-weight: 500;
}

.registraiton .panel-body h2 {
	text-align: center;
}

.registraiton .form-horizontal .required:after {
	color: #e32;
	content: ' *';
	display: inline;
}

.registraiton .disclaimer {
	height: 100%;
	width: 100%;
	border-radius: 3px;
	border: 2px solid #D3D3D3;
	padding: 10px;
}

.registraiton .disclaimer p {
	text-align: center;
	font-weight: 500;
}

/* =============================================================
 	HEADING STYLE
 ============================================================ */
h1, h2 {
	margin-top: 10px;
	font-weight: 400;
	color: #888;
	line-height: 50px;
}

h3 {
	color: #888;
	font-weight: 300;
}

.heading {
	text-align: center;
}

.heading h2 {
	letter-spacing: 0.055em;
	color: #7393b5;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 26px;
}

.heading p {
	color: #888;
	font-size: 1.3em;
}
/* =============================================================
   HEADER STYLE
 ============================================================ */
.header {
	background-color: #7393b5;
	height: 45px;
}

.header .user {
	float: right;
	margin-top: 4px;
	color: #fff;
	text-transform: uppercase;
}

.header .user a {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.header .user a:hover {
	text-decoration: none;
	color: #eee;
}

.header div>.portal {
	color: #fff;
	font-weight: 700;
	margin-top: 10px;
}
/* =============================================================
   NAVBAR AND BANNER STYLE
 ============================================================ */
.navbar-inverse {
	background-color: #7393b5;
	border-color: #7393b5;
}

.navbar-toggle {
	background-color: #36515E;
	border: 1px solid #fff;
}

.navbar {
	margin-bottom: 0px;
}

.banner {
	background-image: url('../images/banner_glendale.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 180px;
}

/* =============================================================
   LOGO STYLE
 ============================================================ */
.logo {
	height: 8px;
	margin-top: 37px;
	background-repeat: no-repeat;
	background-position: center;
}

/* =============================================================
   MENU AND SUB MENU STYLE
 ============================================================ */
.menu-section {
	background-color: #7393b5;
}

#menu-top a {
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
	padding: 10px 10px 10px 10px;
	text-transform: uppercase;
}

#menu-top .menu-top-active {
	background-color: #fff;
	color: #337ab7;
	font-weight: 600;
}

.menu-section #menu-top>li>a:hover, .menu-section #menu-top>li>a:focus {
	background-color: #fff;
	color: #337ab7;
}

.menu-section .dropdown>ul {
	background-color: #7393b5 !important;
}

.menu-section #menu-top.dropdown-menu>li>a:hover, .menu-section #menu-top.dropdown-menu>li>a:focus
	{
	background-color: #fff;
	color: #337ab7;
}

.menu-section #menu-top .dropdown .dropdown-menu>li>a:hover,
	.menu-section #menu-top .dropdown .dropdown-menu>li>a:focus {
	background-color: #fff;
	color: #337ab7;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -4px;
	margin-left: -1px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.dropdown-menu .divider {
	margin: 0 0;
}

.menu-section .menu-portal {
	color: #fff;
	font-weight: 700;
	height: 40px
}

.menu-section .menu-portal .portal {
	margin-top: 8px;
}

/* =============================================================
   BOX STYLE
 ============================================================ */
.box>.icon {
	text-align: center;
	position: relative;
}

.box>.icon span {
	font-size: 40px;
	border-radius: 6px;
	line-height: 50px;
}

.box>.icon>.image {
	position: relative;
	z-index: 2;
	margin: auto;
	width: 88px;
	height: 88px;
	border: 5px solid #fff;
	line-height: 88px;
	border-radius: 50%;
	background: #7393b5;
	vertical-align: middle;
}

.box>.icon>.image span {
	color: #fff;
}

.box>.icon:hover>.image {
	border: 4px solid #fff;
}

.box>.icon>.image>i {
	font-size: 40px !important;
	color: #fff !important;
}

.box>.icon:hover>.image>i {
	color: #fff !important;
}

.box>.icon>.info {
	margin-top: -24px;
	padding: 35px 0 10px 0;
	height: 100px;
}

.box>.icon>.info>a {
	color: #888;
	font-weight: 500;
	text-decoration: none;
	font-size: 24px;
}

.box>.icon>.info>p {
	color: #888;
	line-height: 1.5em;
}

.box .space {
	height: 30px;
}

/* =============================================================
   FOOTER STYLE
 ============================================================ */
.footer {
	text-align: center;
	background-color: #7393b5;
	height: 100px;
	padding-top: 20px;
	padding: 10px;
	color: #fff;
}

.footer .copyright {
	color: #fff;
}

.footer .copyright a {
	color: #fff;
	text-decoration: none;
}

.footer .copyright a:hover {
	color: #eee;
	text-decoration: none;
}

/* =============================================================
   MARGIN STYLE
 ============================================================ */
.clear10 {
	margin-top: 10px;
}

.clear20 {
	margin-top: 20px;
}

.clear40 {
	margin-top: 40px;
}

.clear60 {
	margin-top: 60px;
}

.clear80 {
	margin-top: 80px;
}

.clear100 {
	margin-top: 100px;
}
/* =============================================================
   MODAL POPUP
 ============================================================ */
.modal-backdrop {
	background: none;
}

.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: all;
}

.modal-header {
	padding: 12px;
	background-color: #7393b5;
	color: #fff;
}

.modal-header  button {
	color: #fff;
	opacity: 10;
}

.modal-title {
	color: #fff;
}

/* =============================================================
 	TABLE STYLE
 ============================================================ */
.theading {
	background: #7393b5;
	color: rgba(255, 255, 255, 0.75);
}

tbody tr td a {
	text-decoration: underline;
}

tbody tr td a:hover {
	text-decoration: none;
}

.panel div>table thead {
	background: #7393b5;
	color: rgba(255, 255, 255, 0.75);
}

.panel div>table tr td {
	color: #484d55;
}

/* =============================================================
 	BUTTON STYLE
 ============================================================ */
.btn-default {
	background-color: #F5F5F5;
}

.btn-primary {
	background: #7393b5;
	text-decoration: none;
}

.btn-primary:hover {
	opacity: 0.6;
	color: #fff;
}

input.btn {
	height: 33px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #7393b5;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

input.btn:hover {
	opacity: 0.6;
	color: #fff;
}

input.btn:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input.btn:focus {
	outline: 0;
	opacity: 0.6;
	background: #7393b5;
	color: #fff;
}

input.btn:active:focus {
	outline: 0;
	opacity: 0.6;
	background: #7393b5;
	color: #fff;
}

/* =============================================================
 	PANEL STYLE
 ============================================================ */
.panel-heading a {
	text-decoration: none;
	color: #fff;
}

.panel .panel-heading  #title {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}

.panel-heading p a {
	text-decoration: none;
	background-color: #F5F5F5;
	color: black;
}

.nav-tabs a {
	color: #36515E;
	text-decoration: none;
}

#plussign {
	color: #484d55;
}

/* =============================================================
 	MEDIA STYLE
 ============================================================ */
@media ( max-width : 475px) {
	.footer {
		height: 130px;
	}
}

@media ( max-width : 767px) {
	.header .portal {
		display: none;
	}
	.menu-section .menu-portal {
		display: block;
	}
}

@media ( min-width : 768px) {
	.menu-section .menu-portal {
		display: none;
	}
}