

   body  {
       background: #444444;
       font-size:12px;
       color:#000000;
       background-color: #000000;
   }

   td {
       font-family: Lucida Sans Unicode, Lucida Grande, Calibri, Century Gothic, Helvetica, Arial, sans serif;
       font-size:12px;
       color:#000000;
   }

   div {
       font-family: Lucida Sans Unicode, Lucida Grande, Calibri, Century Gothic, Helvetica, Arial, sans serif;
       font-size:12px;
       color:#000000;
   }

   p {
       font-family: Lucida Sans Unicode, Lucida Grande, Calibri, Century Gothic, Helvetica, Arial, sans serif;
       font-size:12px;
       color:#000000;
   }

   a:link     {
       font-family: Lucida Sans Unicode, Lucida Grande, Calibri, Century Gothic, Helvetica, Arial, sans serif;
       color:#006699;
       text-decoration: none;
   }

   a:active   {
       font-family: Lucida Sans Unicode, Lucida Grande, Calibri, Century Gothic, Helvetica, Arial, sans serif;
       color:#006699;
       text-decoration: none;
   }

   a:visited  {
       font-family: Lucida Sans Unicode, Lucida Grande, Calibri, Century Gothic, Helvetica, Arial, sans serif;
       color:#006699;
       text-decoration: none;
   }

   a:hover    {
       font-family: Lucida Sans Unicode, Lucida Grande, Calibri, Century Gothic, Helvetica, Arial, sans serif;
       color:#006699;
       text-decoration: none;
   }

